{{define "base"}}
    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>ThinkingInCode - Przemysław Owsianik</title>
        <!-- CSS only -->
        <!-- Supersildes CSS -->
        <link rel="stylesheet" type="text/css" href="static/css/superslides.css">
        <!-- Owl Carousel CSS -->
        <link rel="stylesheet" type="text/css" href="static/css/owl.carousel.min.css">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Font Awesome CSS-->
        <link rel="stylesheet" type="text/css" href="static/css/fontawesome.min.css">
        <!-- FancyBox CSS-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
        <!-- My CSS -->
        <link rel="stylesheet" type="text/css" href="static/css/style.css">

        {{block "css" .}}

        {{end}}
    </head>
    <body>
        {{block "content" .}}

        {{end}}

        <!-- jQuery first -->
        <script type="text/javascript" src="static/js/jquery.min.js"></script>
        <!-- jquery.i18n JS-->
        <script src="static/js/jquery.i18n/jquery.i18n.js"></script>
        <script src="static/js/jquery.i18n/jquery.i18n.messagestore.js"></script>
        <script src="static/js/jquery.i18n/jquery.i18n.fallbacks.js"></script>
        <script src="static/js/jquery.i18n/jquery.i18n.language.js"></script>
        <script src="static/js/jquery.i18n/jquery.i18n.parser.js"></script>
        <script src="static/js/jquery.i18n/jquery.i18n.emitter.js"></script>
        <script src="static/js/jquery.i18n/jquery.i18n.emitter.bidi.js"></script>
        <!-- then Popper.js, then Bootstrap JSt -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        {{block "js" .}}

        {{end}}

    </body>
    </html>
{{end}}