{{template "blog".}}
{{define "content"}}

<!-- Page Header -->
<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>Create New Post</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">

            {{$res := index .Data "SavePost"}}

            <form action="/createPost" method="post" encType="multipart/form-data" class="needs-validation" novalidate>
                <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        {{with .Form.Errors.Get "creatorName"}}
                        <span class="text-danger">{{.}}</span>
                        {{end}}
                        <label>Username</label>
                        <input type="text" name="creatorName" value="{{$res.CreatorName}}" placeholder="Username" class="form-control" required>
                        <div class="invalid-feedback">
                            Please fill in this field
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        {{with .Form.Errors.Get "title"}}
                        <span class="text-danger">{{.}}</span>
                        {{end}}
                        <label>Title</label>
                        <input type="text" name="title" value="{{$res.Title}}" placeholder="Title" class="form-control" required>
                        <div class="invalid-feedback">
                            Please fill in this field
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        {{with .Form.Errors.Get "description"}}
                        <span class="text-danger">{{.}}</span>
                        {{end}}
                        <label>Description</label>
                        <input type="text" name="description" value="{{$res.Description}}" placeholder="Description" class="form-control" required>
                        <div class="invalid-feedback">
                            Please fill in this field
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        {{with .Form.Errors.Get "content"}}
                        <span class="text-danger">{{.}}</span>
                        {{end}}
                        <label>Content</label>
                        <textarea name="content" placeholder="Content ..." cols="30" rows="10" class="form-control" required>{{$res.Content}}</textarea>
                        <div class="invalid-feedback">
                            Please fill in this field
                        </div>
                    </div>
                </div>
                <div class="form-group mt-3">
                    <input type="file" name="image" value="{{$res.ImageUrl}}" class="form-control-file">
                </div>
                <div class="form-group my-4 text-center">
                    <button class="btn btn-primary">Create Post</button>
                </div>
            </form>
        </div>
    </div>
</div>

{{end}}

{{define "js"}}
<script>
    // Self-executing function
    (function() {
        'use strict';
        window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
{{end}}
