{{template "blog".}}
{{define "content"}}

<!-- Page Header -->
<header class="masthead" style="background-color: #01181e">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-heading">
                    <h1>{{ .Post.Title }}</h1>
                    <span class="meta">Posted by
                        <a href="#">{{ .Post.CreatorName }}</a>
                            on {{ .Post.CreatedAt }}
                    </span>

                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div id="content" class="col-lg-8 col-md-10 mx-auto">
                {{ .Post.Content }}
            </div>
        </div>
    </div>
</article>

<hr>

{{end}}

{{define "js"}}
<script>
     (function() {
         'use strict';
         window.addEventListener('load', function() {
                 document.getElementById("content").innerHTML = $("#content").text();
                 });
     })();
</script>
{{end}}