{{template "blog".}}
{{define "content"}}
<!-- Page Header -->
<header class="masthead" style="background-color: #01181e">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Thinking In Code</h1>
                    <span class="subheading">...</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

            {{range .Posts}}
            <div class="post-preview">
                <a href="post/{{.Id.Hex}}">
                    <h2 class="post-title">
                        {{.Title}}
                    </h2>
                </a>
                <p class="post-meta">Posted by
                    <a href="post/{{.Id}}"></a>
                    on
                </p>
            </div>
            <hr>
            {{end}}

            <!-- Pager -->
            <div class="clearfix">
                <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
            </div>
        </div>
    </div>
</div>

<hr>
{{end}}